<h4>Edit Product</h4>

<form action="/admin/products/edit/<%= product._id %>" class="container" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="">Title</label>
        <input name="title" type="text" class="form-control" value="<%= product.title %>" required />
    </div>
    <div class="form-group">
        <label for="">Description</label>
        <textarea name="description" class="form-control" required><%= product.description %></textarea>
    </div>
    <div class="form-group">
        <label for="">Price</label>
        <input name="price" type="number" class="form-control" value="<%= product.price %>" required />
    </div>
    <div class="form-group">
        <label for="">Picture</label>
        <input name="file" type="file" class="form-control" />
    </div>
    <div class="form-group">
        <label for="">Category</label>
        <select name="category" class="form-control" required>
            <% categories.forEach(function(category) { %>
                <option value="<%= category._id %>" <%= product.category && product.category._id == category._id ? 'selected' : '' %>><%= category.name %></option>
            <% }) %>
        </select>
    </div>
    <div class="form-group my-3">
        <label for="">Featured?
            <input name="isFeatured" type="checkbox" class="form-check-input" <%= product.isFeatured ? 'checked' : '' %> />
        </label>
    </div>
    <div class="form-group">
        <button class="btn btn-info">Edit Record</button>
    </div>
</form>
